<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/LayoutSimples">

<th:block layout:fragment="conteudo">
	
	<div class="aw-simple-panel">
	
		<h3>Sistema</h3>
		
		<div class="aw-simple-panel__message  is-error">
			<div class="alert alert-success">
				<strong><span th:text="${mensagem}"></span></strong>
			</div>
		</div>
	</div>
	
</th:block>

</html>