<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>SysEstoque</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastrar Novo Produto
			</h1>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:action="@{/produto/salvar}" th:object="${produto}" class="form-vertical  js-form-loading">

			<!-- MENSAGEM DE SUCESSO -->
    		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
	    		<span th:text="${mensagem}"></span>
	    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
    			</button>
    		</div>
    		
    		<!-- ALERTA DE CAMPOS VALIDADOS-->
    		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
	    		 <div th:each="error : ${#fields.detailedErrors()}">
	    			<span th:text="${error.message}"></span>
	    		</div>
    		</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('codigo')} ? has-error">
						<label for="name">Código</label>
						<input id="name" th:field="*{codigo}" type="text" class="form-control" placeholder="Código"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="name">Nome</label>
						<input id="name" th:field="*{nome}" type="text" class="form-control" placeholder="Nome"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
						<label for="name">Descrição</label>
						<input id="name" th:field="*{descricao}" type="text" class="form-control" placeholder="Descrição"/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('quantidadeTotal')} ? has-error">
						<label for="name">Quant. em Estoque</label>
						<input id="name" th:field="*{quantidadeTotal}" type="text" class="form-control" placeholder="Quant. em Estoque"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('custoUnitario')} ? has-error">
						<label for="name">Custo Unitário</label>
						<input id="name" th:field="*{custoUnitario}" type="text" class="form-control" placeholder="Custo Unitário"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" th:classappend="${#fields.hasErrors('valorVendaUnitario')} ? has-error">
						<label for="name">Valor de Venda Unitário</label>
						<input id="name" th:field="*{valorVendaUnitario}" type="text" class="form-control" placeholder="Valor de Venda Unitário"/>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a th:href="@{/produto/listar}" class="btn  btn-default">Voltar</a>
			</div>
		</form>
	</div>

</section>
</body>
</html>